<footer class="mastfoot bg-dark">
        <div class="inner">
          <p>Made <a href="https://google.com">BlogSpot</a>, with  love &hearts;&hearts;&hearts; by <a href="https://github.com/abhisheksinghnegi" target="_blank">@abhisheksinghnegi</a>.</p>
        </div>
</footer>
</div>
</body>
</html>