<%if(user == null){%>
    <%- include('partials/header'); -%>
<%}else{%>
    <%- include('partials/Loggedheader'); -%>
<%}%>
<div class='main_material'>
<h1>About</h1>
<p><%=start%></p>
</div>
<%- include('partials/footer'); -%>