<%if(user == null){%>
    <%- include('partials/header'); -%>
<%}else{%>
    <%- include('partials/Loggedheader'); -%>
<%}%>
    <div class='main_material'>
    <div class="main_title"><h1>Contact</h1></div>
    <p style="text-align: center;"><%=start%></p>
    
    <div class='contact'>
        <h3>Contact me at</h3>
        <a href="https://facebook.com" class="fa fa-facebook" target="_blank"></a>
        <a href="https://twitter.com" class="fa fa-twitter" target="_blank"></a>
        <a href="https://goggle.com" class="fa fa-google" target="_blank"></a>
        <a href="https://linkedin.com" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="fa fa-youtube" target="_blank"></a>
    </div>
    </div>

<%- include('partials/footer'); -%>